extends layouts/default

block vars
    - var canonical = "/";
    - var title = "Valeriya Kozhynova";
    - var description = 'Coming Soon.';

block styles
  style.

block content
  include parts/intro

  //- ABOUT~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  .body-container.row.section.scrollspy-mobile.scrollspy#about
    ul#about-stagger.row
      li.col.s12
        h2.section-title About
        .rainbow.underline 
          .rain-color-4
          .rain-color-2
          .rain-color-5
      li.col.s12.m5.l3.xl2
        .card.small.photo-card
          .card-image
            img(src='/assets/images/mev2.jpg' alt="Photo of Valeriya Kozhynova")
      li.col.s12.m7.l8.push-l1.push-xl2
        ul#inner-about-stagger
          li.card.medium
            .card-content
              p.flow-text.
                I am an experienced and well-rounded web developer interested in building secure, responsive, and scalable web sites and web apps. I am proficient in all stages of the web development process.
          li.card.medium
            .card-content
              p.flow-text.
                I am professionally experienced with website hosting and maintenance through <b>Ubuntu Linux</b>, <b>Heroku</b>,  and the  <b>Amazon AWS suite</b>.  I also have extensive knowledge of <b>SEO</b> as well as experience with <b>Google Analytics</b>,  <b>Google Tag Manager</b>, <b>Google Search Console</b>, and <b>HTML online advertising</b>. 
          li.card.medium
            .card-content
              p.flow-text.
                Under DBOX and DBXD, I have built, developed and maintained over a dozen websites. With DBOX, I have developed the front-end for the <a href="https://100e53.com" target="_blank">100 East 53rd Street website</a>, which was showcased on both <a href="https://www.siteinspire.com/websites/6391-one-hundred-east-fifty-third-street" target="_blank">Site Inspire</a> and <a href="https://www.uplabs.com/posts/100-east-53rd-street-gallery-interface" target="_blank">Uplabs</a>. At DBXD, I have developed websites for notable names in real estate such as Bay Park Centre, 432 Park Avenue, 108 Leonard, The Century Plaza, and The Residences at the West Hollywood Edition. 
          li.card.medium
            .card-content
              p.flow-text.
                Website development is my passion and I strive to build the greatest user experience using maintainable web solutions. I always keep up to date with the rapidly changing technologies of the field and always look for ways to build upon and perfect my own knowledge.
          li.card.medium
            .card-content
              .card-action
                a(href='https://www.linkedin.com/in/valeriyak/' target="_blank") More Information

  //- SKILLS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  .body-container.row.section.scrollspy-mobile.scrollspy#skills
    ul#skills-stagger.row
      li.col.s12
        h2.section-title Skills
        .rainbow.underline 
          .rain-color-4
          .rain-color-2
          .rain-color-5
      li.col.s12.m10.offset-m1
        ul#inner-skills-stagger
          li.chip Web Development
          li.chip Programming
          li.chip User Interface
          li.chip HTML5
          li.chip CSS          
          li.chip JavaScript
          li.chip Node.js          
          li.chip React.js
          li.chip ReactNative          
          li.chip jQuery
          li.chip SASS
          li.chip LESS
          li.chip JS Frameworks
          li.chip Gulp
          li.chip Grunt
          li.chip Bootstrap
          li.chip Meteor
          li.chip Jekyll                    
          li.medium.chip Webpack
          li.medium.chip Express.js
          li.medium.chip Amazon Web Services (AWS)
          li.medium.chip ECMAScript
          li.medium.chip Photoshop
          li.medium.chip Illustrator          
          li.medium.chip Adobe Creative Suite
          li.medium.chip 3D Modeling
          li.medium.chip Flash
          li.medium.chip ASP.NET MVC
          li.medium.chip Ext JS
          li.medium.chip SQL
          li.small.chip MongoDB
          li.small.chip Sketch      
          li.small.chip Java
          li.small.chip PHP
          li.small.chip Unity3D
          li.small.chip ActionScript
          li.small.chip C#
          li.chip.p-chip VS Code
          li.chip.p-chip VS for Mac
          li.chip.p-chip Sublime Text
          li.chip.p-chip XCode
          li.chip.p-chip MonoDevelop
          li.chip.p-chip IntelliJIDEA
          li.chip.p-chip Nodepad++
          li.chip.p-chip Terminal/BASH


  //- PROJECTS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  .body-container.row.section.scrollspy-mobile.scrollspy#projects
    ul#projects-stagger.row
      li.col.s12
        h2.section-title Projects
        .rainbow.underline 
          .rain-color-4
          .rain-color-2
          .rain-color-5
      each project in projects
        li.col.s12.m6.l3
          .card.medium.photo-card
            a.modal-trigger.card-image.waves-effect.waves-light(href="#"+project.slug style='background-image: url('+project.image+');' title=project.title)
              span.card-title #{project.title}

  //- Projects Carousel Modal~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  each project in projects
    div.modal.show(id=project.slug)
      button.modal-action.modal-close.btn-floating.waves-effect.waves-light.orange.btn-flat.right: i.medium.material-icons close
      div.modal-content
          .info
              h4 #{project.title}
              a(href=project.url target="_blank") #{project.url}
              p #{project.tools}
              p.
                  !{project.description}   
          .carousel-wrapper
              .carousel.carousel-slider#100e53-carousel
                each image in project.images
                    .carousel-item
                        img(src=image.url alt=image.alt)
                          
              button.prev.carousel-btn
                  i.medium.material-icons chevron_left
              button.next.carousel-btn
                  i.medium.material-icons chevron_right

  //- CONNECT~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  .body-container.row.section.scrollspy-mobile.scrollspy#connect
    ul#connect-stagger.row
      li.col.s12
        h2.section-title Connect
        .rainbow.underline 
          .rain-color-4
          .rain-color-2
          .rain-color-5
      li.col.s12.m10.offset-m1
        ul#inner-connect-stagger
          li: a.btn-floating.orange.waves-effect.waves-light(href="https://www.linkedin.com/in/valeriyak/" target="_blank"): i.fa.fa-linkedin.fa-3x(aria-hidden="true")
          li: a.btn-floating.orange.waves-effect.waves-light(href="https://github.com/valko92" target="_blank"): i.fa.fa-github.fa-3x(aria-hidden="true")
          li: a.btn-floating.orange.waves-effect.waves-light(href="https://twitter.com/Epp3s" target="_blank"): i.fa.fa-twitter.fa-3x(aria-hidden="true")
          li: a.btn-floating.orange.waves-effect.waves-light(href="https://www.facebook.com/valko5" target="_blank"): i.fa.fa-facebook.fa-3x(aria-hidden="true")